<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{% block title %}Puppyt{% endblock %}</title>
  </head>
  <!-- <div id="loading-screen">
    <div class="loading-text">PUPPYT!</div>

    <div class="loading-bar">
      <div id="loading-bar-fill"></div>
    </div> -->
  </div>
  {% block content %}{% endblock %}
</html>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
